.venv/
venv/
.idea/
.DS_Store/
*.DS_Store/
.gitignore/
.git/
.pytest_cache/
.__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
.coverage
.cache
htmlcov/
*.log
*.tmp
*.swp
*.swo
*.swn
*.bak
build/
dist/
*.egg-info/
.eggs/
docker-compose.override.yml
.dockerignore
