a:hover {
    color: black;
}
.contenConteiner {
    max-width: 900px;
    margin-left: auto;
    margin-right: 0;
}

.title_img{
    width: 260px;
    height: 350px;
}

.image_container{
    box-shadow: 0 0 150px #ABBCC2;
    /*border: 1px solid #000;*/
}
.article{
    margin-top: 87px;
}